<h1>calendar</h1>


</div>
<div data-ng-repeat="day in DayIndexViewModel.days">
  <div class="day"><a data-ui-sref="DayShow({id: vm.dayClicked.id})">
{{day.name_of_day}}</a>
  </div>

  <label>Check your Day: <input type="checkbox" ng-model="selected"></label><br/>
  <select aria-label="ngSelected demo">
    <option>Pilates</option>
    <option>Aerobics</option>
    <option>Dancing</option>
    <option>Running</option>
    <option>Elliptical</option>
    <option>Stationary Bike</option>
    <option>Machine Preacher Curl</option>
    <option>Standing Cable Pushdown</option>
    <option>EZ Bar Skullcrusher</option>
    <option>Standing Biceps Cable Curl</option>
    <option>Upright Barbell Row</option>
    <option>Machine Shoulder Press</option>
    <option>Wide Grip Lat Pulldown</option>
    <option>Sit Ups</option>
    <option>Push Ups</option>
    <option>Barbell Bench Press</option>

  </select>
