<div class="exname" data-ng-repeat="exercise in ExerciseIndexViewModel.exercises">
<p>
  <input type="checkbox" name="exercise" value="name" data-ng-model="confirmed" data-ng-change="ExerciseIndexViewModel.change(exercise.calories_burned)"><label>{{exercise.exercise_name}}</label>

<span class="excal" data-calories-burned={{exercise.calories_burned}}>{{exercise.calories_burned}}</span>
</p>
</div>


<p>Total Calories: <span id='totalCalories'>{{ExerciseIndexViewModel.totalCalories}}</span></p>

<div id="beers">
  <div class="drinknames" data-ng-repeat="beer in ExerciseIndexViewModel.beers">
    {{beer.name}}, {{beer.calories}}: I can BREAK EVEN with: {{ExerciseIndexViewModel.totalCalories/beer.calories}} of these bastards!
  </div>
</div>
