<div class="exname" data-ng-repeat="exercise in ExerciseIndexViewModel.exercises">
<p>
{{exercise.exercise_name}}

<span class="excal" data-calories-burned={{exercise.calories_burned}}>{{exercise.calories_burned}}</span>
</p>
</div>


<p>Total Calories: <span id='totalCalories'>{{ExerciseIndexViewModel.totalCalories()}}</span></p>

<div id="beers">
  <div data-ng-repeat="beer in ExerciseIndexViewModel.beers">
    {{beer.name}}, {{beer.calories}}: Are you ready? {{ExerciseIndexViewModel.totalCalories()/beer.calories}} beers.
  </div>
</div>
